/********************************************************************
*                        5.卡片框容器(card-frame)样式                           *
********************************************************************/

.card-frame {
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 22px;
  border: 1px solid var(--el-color-grey-light-2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-frame.no-border {
  border: none;
}

.card-frame .card-frame-top {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  font-size: var(--el-font-size-medium);
  line-height: 36px;

  /* color: var(--el-color-black); */

  /* color: var(--el-color-grey-dark); */

  background-color: var(--el-color-grey-light-1);
  border-bottom: 1px solid;
  border-bottom-color: var(--el-color-grey-light-2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-frame .card-frame-top::before {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 5px;
  height: 16px;
  margin: 0 8px 0 10px;
  content: '';
  background-color: var(--el-color-primary);
  border-radius: 2.5px;
}

.card-frame .card-frame-top .card-frame-btn {
  float: right;
  margin-right: 8px;
  line-height: inherit;
}

.card-frame .card-frame-container {
  width: calc(100% - 32px);
  padding: 0 16px;
  font-size: var(--el-font-size-base);
}

.card-frame.other-card-frame {
  border: none;
}

.card-frame.other-card-frame .card-frame-top {
  /* background-color: var(--el-color-white); */
  background-color: var(--el-bg-color);
}

.card-frame.other-card-frame .card-frame-top::before {
  top: 4px;
  height: 20px;
}
