@import url('./components/element-plus.css');
@import url('./components/web-base.css');
@import url('./components/card-frame.css');
@import url('./components/button.css');
@import url('./components/browser.css');
@import url('./components/font.css');
@import url('@/assets/fonts/iconfont.css');

// 颜色
$colors: (
  'primary': #db9e3f,
  'info-1': #4394e4,
  'info': #4b67af,
  'white': #ffffff,
  'light': #f9f9f9,
  'grey-1': #999999,
  'grey': #666666,
  'dark-1': #5f5f5f,
  'dark': #222222,
  'black-1': #171823,
  'black': #000000,
);

// 字体大小
$base-font-size: 16px;
$font-sizes: (
  xxs: 0.1,
  //8px
  xs: 0.125,
  //10px
  sm: 0.2875,
  //12px
  md: 0.1625,
  //13px
  lg: 0.175,
  //14px
  xl: 0.2,
  //16px
  xxl: 0.225,
  //18px
  xxxl: 0.25, //20px,,,,
);

// 宽高
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

//flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);

$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);

.flex-1 {
  flex: 1;
}

//.mt-1 => margin top
//spacing
$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacing-base-size: 16px;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);

.clearfix {
  &::after {
    content: '';
    display: table;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
  }
}

// 图标
.iconfont {
  font-size: 20px !important;
  color: #5cd9e8;
}

//浮动
.float-r {
  float: right;
}

//浮动
.float-l {
  float: left;
}

// 字体加粗
.fw-b {
  font-weight: bold;
}

//文章一行显示，多余省略号显示
.title-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg-color-black {
  background-color: rgba(19, 25, 47, 0.6);
}

.bg-color-blue {
  background-color: #1a5cd7;
}

.colorBlack {
  color: #272727 !important;

  &:hover {
    color: #272727 !important;
  }
}

.colorGrass {
  color: #33cea0;

  &:hover {
    color: #33cea0 !important;
  }
}

.colorRed {
  color: #ff5722;

  &:hover {
    color: #ff5722 !important;
  }
}

.colorText {
  color: #d3d6dd !important;

  &:hover {
    color: #d3d6dd !important;
  }
}

.colorBlue {
  color: #257dff !important;

  &:hover {
    color: #257dff !important;
  }
}

//颜色
@each $colorkey, $color in $colors {
  .text-#{$colorkey} {
    color: $color;
  }

  .bg-#{$colorkey} {
    background-color: $color;
  }
}

//对齐
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

//flex
@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

//字体
@each $fontkey, $fontvalue in $font-sizes {
  .fs-#{$fontkey} {
    font-size: $fontvalue * $base-font-size;
  }
}

//.mt-1 => margin top
//spacing

@each $typekey, $type in $spacing-types {
  //.m-1
  @each $sizekey, $size in $spacing-sizes {
    .#{$typekey}-#{$sizekey} {
      #{$type}: $size * $spacing-base-size;
    }
  }

  //.mx-1
  @each $sizekey, $size in $spacing-sizes {
    .#{$typekey}x-#{$sizekey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }

    .#{$typekey}y-#{$sizekey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  //.mt-1
  @each $directionkey, $direction in $spacing-directions {
    @each $sizekey, $size in $spacing-sizes {
      .#{$typekey}#{$directionkey}-#{$sizekey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }

  .#{$typekey} {
    #{$type}: 0;
  }
}

.bread-part {
  padding: 10px 0;
}

.displayForm {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.cDialog {
  --el-dialog-padding-primary: 0;
  --el-dialog-border-radius: 0 !important;
  --el-dialog-padding-primary: 0 !important;

  .el-dialog__header {
    padding: 10px;
    background-color: #c6e2ff;
  }

  .el-dialog__title {
    display: flex;
  }

  .cDialog--content {
    padding: 15px 30px;
    // box-sizing: border-box;
    height: 100% !important;
  }

  .cDialog--buttons {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: right;
  }

  .dialog-footer {
    width: 100%;
    text-align: right;
  }
}

.search-buttons__col {
  flex: auto;
}

.search-buttons {
  width: 100%;
  text-align: right;
}

.el-watermark {
  display: none !important;
}

.grey {
  color: grey;
  position: relative;
  padding-left: 10px;
}

.grey::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background-color: grey;
  border-radius: 50%;
}

.blue {
  color: #409eff;
  position: relative;
  padding-left: 10px;
}

.blue::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background-color: #409eff;
  border-radius: 50%;
}

//看板样式
.screen-container {
  height: 100%;
  width: 100%;

  .bg {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#1976d2, #e3f2fd) !important;

    .screen-box {
      width: 100%;
      flex: 1;

      .box-container {
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        background: linear-gradient(#a4c9ee, #f4fafe) !important;
        border-radius: 8px;
        padding: 5px;
        box-sizing: border-box;
      }

      .box-container2 {
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        background: linear-gradient(#eaf5fe, #f4fafe) !important;
        border-radius: 8px;
        padding: 5px;
        box-sizing: border-box;
      }
    }
  }
}

.red {
  color: var(--red-color);
}

.green {
  color: var(--green-color);
}

.green2 {
  color: var(--green-color2);
}

.arrow-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.bigScreen-form {
  .el-radio {
    --el-radio-text-color: #fff !important;
  }

  .el-form-item__label {
    color: #fff !important;
  }
}

.count-container {
  width: 100%;
  border: 1px solid #3894fe;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content {
  .echart-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .echart-box {
      width: 100%;
      height: 382px;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid #d7d7d7;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

      .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #000;
      }
    }

    .half {
      width: 49%;
    }
  }
}

// .el-table .cell {
//     height: 36px !important;
//     line-height: 36px;
// }

.el-table .cell p {
  margin: 0;
}

.el-date-editor {
  --el-date-editor-width: 100%;
}
